[user]
	name = Pavel Litvyak
	email = pvlltvk@gmail.com
	signingkey = pvlltvk@gmail.com
[core]
	editor = vim
[http]
	sslVerify = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
